.error-text {
  color: red;
  font-weight: bold;
  font-size: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.error-item {
  padding-top: 3px;
  padding-bottom: 3px;
}
