.nav-bar-logo-large {
  line-height: 1.5;
  font-size: 25px;
  float: left;
}

.nav-bar-for-home {
  width: 100%;
  min-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  font-size: 12px;
  position: relative;
  padding-top: 30px;
}

.inspiration {
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  line-height: 3.2;
}

.inspiration a {
  padding-left: 34px;
}

.nav-bar-for-home-content {
  width: 85%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: bold;
}

ul.home-user-options {
  display: inline;
  float: right;
  line-height: 2;
}

.home-user-options li {
  float: left;
  padding-left: 20px;
}

ul.login-and-signup {
  float: right;
  font-size: 14px;
}

.login-and-signup li {
  display:inline-block;
}

.login-and-signup li button {
  padding: 13px;
}

.signup-button {
  background: #1873A4;
  background-size: cover;
  border-radius: 5px;
}

.guest-signin-button {
  background: #DA5229;
  padding: 10px;
  font-size: 12px;
}
