html {
  height: 100%;
}

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: sans-serif;
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  cursor: pointer;
}

//clearfix
.group:after {
  content: "";
  display: block;
  clear: both;
}

// -------------------------------------------------------------------
// ACTUAL STYLING STARTS HERE-----------------------------------------

.error-text {
  color: red;
  font-weight: bold;
  font-size: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.error-item {
  padding-top: 3px;
  padding-bottom: 3px;
}

//This should be on the home page only
body {
  background: white;
}

//Nav bar
.nav-bar {
  text-align: left;
  color: white;
  font-weight: bold;
  height: 55px;
  width: 100%;
  background: #25364A;
  position: relative;
  z-index: 100;
}

.nav-bar-content {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar-content-non-home {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar-content-non-home ul {
  float: right;
  margin-right: 20px;
}


.nav-bar-content ul {
  float: right;
}

.home-user-options {
  font-size: 15px;
  line-height: 2.7;
}

.home-user-options li {
  margin-left: 25px;
}

.nav-bar-content li {
  display: inline-block;
}

.nav-bar-content-non-home li {
  display: inline-block;
}

// Eventually should be image, not text
.nav-bar-logo-not-logged-in {
  line-height: 1.5;
  font-size: 25px;
  float: left;
}

.nav-bar-logo-not-logged-in-non-home {
  line-height: 1.5;
  font-size: 25px;
  float: left;
  padding-left: 20px;
  padding-top: 8px;
}

.nav-bar-logo-logged-in {
  line-height: 2;
  font-weight: normal;
  font-size: 14px;
  margin-left: 320px;
  line-height: 3;
}

.nav-bar-logo-logged-in-non-home {
  line-height: 2;
  font-weight: normal;
  font-size: 14px;
  margin-left: 360px;
  line-height: 4;
}

.inspiration {
  font-size: 11px;
  font-weight: 100;
  line-height: 4.2;
  float: left;
  width: 50%;
  padding-left: 70px;
}

#nav-bar-username {
  text-transform: uppercase;
}

.logout-and-username {
  display:inline-flex;
  float: right;
}

.nav-bar-username {
  font-size: 16px;
  font-weight: bold;
}

ul.user-options {
  float: right;
  padding: 0px;
  width: 120px;
  cursor: pointer;
}

.user-options li{
  float: left;
  clear: left;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  line-height: 3.5;
}

.user-options div {
  height: 55px;
  width: 120px;
  padding-left: 12px;
}

div.user-option {
  line-height: 2.4;
  height: 40px;
  color: #25364A;
  border: 1px solid #D7E4EE;
  border-top: 0px;
  background: white;
  box-sizing: border-box;
  display: none;
}

button.nav-bar-logo-logged-in {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 4;
}

ul.nav-bar-survey-options {
  float: left;
}

.nav-bar-survey-options li {
  float:left;
  line-height: 3.5;
}

.create-survey-button {
  padding: 0px;
  background: #5D92C0;
  text-align: center;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.image-upload-icon {
  background: #9ac0e2;
  border-radius: 10%;
  padding: 5px;
  color: white;
  font-size: 10px;
  margin-right: 5px;
}

.image-option-preview {
  font-size: 10px;
  color: #20b32d;
  display: inline;
  font-weight: bold;
}

.image-option-preview img {
  width: 10%;
  height: auto;
  border: 3px solid #20b32d;
  border-radius: 2px;
  margin-bottom: 3px;
}

.user-surveys-link {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 55px;
  cursor: pointer;
}

.nav-bar-button {
  font-size: 14px;
  padding: 13px;
}

.login-button {

}

.signup-button {
  background: #1873A4;
  background-size: cover;
  border-radius: 5px
}

.logout-button{

}

.guest-signin-button {
  background: #DA5229;
  padding: 10px;
  font-size: 12px;

}

.signup-page {
  text-align: center;

  background: white;
  position:relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

}

.signup-page h1 {
  font-size: 32px;
  color: #7386A9;
  font-weight: bold;
  line-height: 4.5;
}

.signup-page h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 18px;
}

.signup-page ul {
  width: 625px;
  display: inline-flex;
}

.signup-page li {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
}

.signup-page .usage-icon {
  height: 85px;
  width: 85px;
  background: #7386A9;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  color: white;
}

.signup-page aside {
  font-size: 11px;
  margin-top: 55px;
  color: #74767B;
}

.create-account-page {
  background: white;
  position:absolute;
  top: 70px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  font-weight: bold;
}

.create-account-page h1 {
  font-size: 35px;
  margin-top: 25px;
  margin-bottom: 45px;
}

.create-account-page label {
  font-size: 14px;
}

.create-account-box .user-auth-field {
  margin-bottom: 15px;
  padding: 5px;
}

.create-account-box {
  width: 430px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
}


//Home

.home-page, .nav-bar-for-home {
  position: relative;
  z-index: 150;
}

.home-page {
  background-image: image-url("subtle-dots.png"), image-url("handsup.jpeg");
  background-repeat: repeat, no-repeat;
  // background-position: 0, absolute;
  background-size: 50px 30px, cover;
  padding-top: -80px;

  position:absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.home-content {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 40px;
}

.home-content h1 {
  font-size: 48px;
  margin-top: 55px;
  margin-right: 20px;
}

.home-content h2 {
  font-size: 20px;
  line-height: 1.4;
  margin-right: 20px;
}

//Login

.login-page {
  background: #25364A;
  position:absolute;
  z-index: 200;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.login-header {
  height: 140px;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 10;
}

.login-box {
  width: 380px;
  height: 350px;
  background: #F4F4F4;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;

}

.login-internal-box {
  border-radius: 5px;
  width: 300px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px
}

.login-internal-box h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.user-auth-field {
  background: white;
  border: 1px solid #B2B9C1;
  border-radius: 3px;
  height: 35px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px
}

.login-form-button {
  color: white;
  background: #DA5229;
  border-radius: 3px;
  width: 100%;
  height: 35px;
  text-align: center;
}

.no-account-box {
  margin-top: 20px;

  color: gray;
  font-size: 10px;
  text-align: center;
  width: 100%;
}

//USER SETTINGS
#nav-bar-username {
}

#user-options {
  display:inline;
  float:right;
  font-weight: normal;
  font-size: 14px;
}

#user-options li {
  padding: 2px;
}


// INDEX PAGES

//USER SURVEYS
#user-surveys {
  background: white;
  position:absolute;
  top: 55px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.left-menu {
  float: left;
  display: inline-block;
}

#user-surveys-left-menu {
  width: 180px;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
}

#user-surveys-left-menu .index-side-button {
  height: 30px;
  width: 150px;
  border-radius: 3px;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 14px;
}

#create-polls-from-index-button {
  text-align: center;
  line-height: 2.8;
  color: white;
  background: #DA5229;
}

#my-polls-linklike {
  text-align: left;
  color: #25364A;
  background: #C2D5E4;
}

.my-polls-text {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
}

.content-indicator-icon {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

.user-surveys-list {
  width: 75%;
  min-width: 800px;
  float: left;
  display: inline-block;
  position: absolute;
}

.user-survey .user-survey-title {
  background: #C2D5E4;
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
  padding: 10px;
}

div.user-question {
  color: #64819a;
  padding: 8px;
  margin-bottom: 1px;
  background: #D7E4EE;
  font-size: 14px;
  padding-left: 15px;
}

.user-question .survey-edit-checkbox, .user-question .survey-question-text {
  float: left;
}

.user-survey .survey-controls {
  float: right;
  font-size: 12px;
}

div.poll-report-link {
  cursor: pointer;
  display: inline;
  padding: 5px;
  text-align: center;
  float: left;
  border-radius: 3px;
  margin-right: 30px;
  line-height: .7;
  text-decoration: underline;
}

.user-survey .survey-controls button{
  font-size: 12px;
  color: #5D92C0;
  margin-left: 10px;
  padding: 5px;
  border-radius: 3px;
}

a.url-share-link {
  text-decoration: underline;
  font-weight: bold;
  color: #5D92C0;
  line-height: 1.6;
  margin-right: 5px;
}

small.survey-url {
  display: inline-block;
  font-weight: normal;
  color: black;
  text-align: right;
  display:inline;
  float:right;
  background: white;
  border-radius: 2px;
  padding: 2px;
}
// CREATE NEW SURVEYS

.dark-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.create-survey-box {
  position: absolute;
  top: 90px;
  left: 240px;
  width: 700px;
}

.question-type-tab-selected {
  background: white;
  width: 130px;
  height: 50px;
  float: left;
  line-height: 4;
  text-align: center;
  font-weight: bold;
  color: #1873A4;
}

.question-type-tab {
  background: #F4F4F4;
  width: 130px;
  height: 50px;
  float: left;
  line-height: 4;
  text-align: center;
}

.question-box-body {
  float: left;
  background: white;
  padding: 20px;
  padding-bottom: 10px;
  width: 700px;
}

section.survey-title-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.survey-title-section label {
  font-weight: bold;
}

.survey-title-input {
  border: 2px solid #F4F4F4;
  border-radius: 3px;
  height: 30px;
  width: 100%;
  margin-top: 5px;
  font-size: 12px;
  padding: 5px;

}

.multi-q-survey {
  margin-top: 20px;
}

.multi-q-text {
  font-size: 14px;
}

.delete-question {
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 1.8;
  font-weight: bold;
  float: right;
  border-radius: 20px;
  color:white;
  background: black;
  border: 2px solid white;
  cursor: pointer;
}

.question-content-box {
  background: #D7E4EE;
  padding: 18px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.question-content-box input {
  background: white;
  border: 2px solid #F4F4F4;
  height: 50px;
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
}

.survey-build-controls {
  font-size: 12px;
  float: right;
}

.cancel-link {
  color: gray;
  padding: 10px;
}

.build-survey-button {
  font-size: 12px;
  color: white;
  background: #1873A4;
  border-radius: 3px;
  padding: 10px;
}

.answer-options-list {
  width: 480px;
  float: right;
}

.audience-response-text {
  margin-top: 20px;
  margin-bottom: 5px;
}

.answer-options-list input {
  font-size:12px;
  height: 30px;
  width: 390px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.delete-option {
  padding: 2px;
  height: 23px;
  width: 23px;
  color: white;
  border: 2px solid #C2D5E4;
  border-radius: 3px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  margin-left: 7px;
  margin-bottom: 5px;
}

.add-option-button {
  font-size: 10px;
  color: white;
  background: #1873A4;
  border-radius: 3px;
  padding: 5px;
  margin-top: 5px;
}

.modal {
  display: none;
}

.survey-response-page {
  background: #25364A;
  color: white;
  text-align: center;
  font-size: 35px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  position: relative;
  padding-top: 50px;

  h4 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.participant-option-text img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.survey-response-form {
  width: 60%;
  min-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.response-option {
  width: 100%;
  background: #D7E4EE;
  color: black;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  min-height: 50px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}

img.image-response-option {
  max-height: 220px;
  width: auto;
  padding-bottom: 10px
}

.currently-selected-option {
  background: yellow;
}


.survey-report-page {
  width: 100%;
  height: 100%;
  margin: 20px;
  margin-top: 15px;

  h1 {
    font-size: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }

  h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 18px;
    margin: 0px;
    margin-left: 5px;
    float: left;
    display: block;
    width: 100%;
  }

  p.total-question-votes {
    margin-top: 10px;
  }
}

.survey-reporting-sidebar {
  width: 28%;
  box-sizing: border-box;
  padding: 30px;
  top: 71px;
  right: 20px;
  background: #D7E4EE;
  border-radius: 2px;
  position: fixed;
  z-index: -1;
  overflow-wrap: break-word;

  h4 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
  }

  h5 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 18px;
  }
}

.survey-reporting-sidebar ul {
  margin-left: 10px;
  font-size: 16px;
}

.survey-reporting-sidebar li {
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.question-text-list {
}

.question-text-list li {
  font-size: 12px;
  padding: 0px;
  padding-top: 15px;
  margin-left: 10px;
}

.question-text-list {
  list-style: circle;
}

.main-survey-content {
  width: 67%;
  min-width: 660px;
  background: white;
}

div.option-percent-text {
  float: left;
  padding-left: 5px;
}

p.option-percent-text.group {
    margin-left: 5px;
}

.percent-bar-overlay {
  position: absolute;
  padding-top: 10px;
}

img.report-image {
  max-height: 100px;
  width: auto;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 25px;
}

.response-instructions {
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  padding-left: 15px;
  padding-top: 10px;
  background: #25364a;
  color: white;
}

.response-instructions aside {
  font-size: 20px;
  text-align: center;
}

.response-instructions aside a {
  text-decoration: underline;
  bottom-margin: 10px;
  font-size: 35px;
}

.question-report {
  margin-top: 10px;
  min-width: 450px;
  padding: 5%;
  padding-bottom: 8%;
  padding-right: 7%;
  border: 5px solid #e8eaec;
  border-radius: 3px;
  box-sizing: border-box;
}

.poll-results-inner {
  border-left: 4px solid #3F7CAB;
  border-bottom: 4px solid #3F7CAB;
  width: 100%;
  box-sizing: border-box;
}

.poll-results-display-window {
  width: 100%;
  box-sizing: border-box;
  margin-left: 5px;
}

.option-display {
  margin-top: 10px;
  min-height: 70px;
}

div.option-vote-percentage {
  background: #7dc6ff;
  min-height: 70px;
}

.under-graph-markings {
  width: 100%;
  height: auto;
  display: flex;
}

small.marking {
  width: 10%;
  height: 10px;
  border-left: 4px solid #3F7CAB;
  box-sizing: border-box;
  display: inline-block;
}

small.marking:last-child {
  border-right: 4px solid #3F7CAB;
  padding-right: 4px;
}
