html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

// -------------------------------------------------------------------
// ACTUAL STYLING STARTS HERE-----------------------------------------

//This should be on the home page only
body {
  background:
    image-url("subtle-dots.png"),
    image-url("handsup.jpeg");
  background-size: unset, cover;
}

.nav-bar {
  font-family: sans-serif;
  text-align: left;
  color: white;
  font-weight: bold
}

// Eventually should be image, not text
.nav-bar-logo {
  float: left;
  font-size: 25px;
}

.login-and-signup {
  float: right;
}

.home-content {
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-weight: bold
}

.home-content h1 {
  font-size: 50px;
}

.nav-bar {
  width: 95%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}
.nav-bar-button {
  font-size: 14px;
  padding: 13px;
}

.login-button {

}

.signup-button {
  background: #1873A4;
  border-radius: 5px
}

.logout-button{

}

//from stackoverflow
// .dots-overlay {
//   background: image-url("subtle-dots.png");
//   position:absolute;
//   width:100%;
//   height:100%;
//   top: 0;
//   left: 0;
// }
