.main-survey-content {
  margin-top: 10px;
}

#user-surveys {
  background: white;
  position:absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.left-menu {
  float: left;
  display: inline-block;

}

#user-surveys-left-menu {
  width: 180px;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
}

#user-surveys-left-menu .index-side-button {
  height: 30px;
  width: 150px;
  border-radius: 3px;
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 14px;
}

#create-polls-from-index-button {
  text-align: center;
  line-height: 2.8;
  color: white;
  background: #DA5229;
}

#create-polls-from-index-button:hover{
  background: #ED7D5E;
}

#my-polls-linklike {
  text-align: left;
  color: #25364A;
  background: #e1edf7;
}

.my-polls-text {
  float: left;
  margin-left: 10px;
  margin-top: 8px;

}

.arrow {
  text-align: right;
  float: right;
  font-size: 16px;
  line-height: 2;
  margin-right: 8px;
}

.content-indicator-icon {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

.user-surveys-list {
  width: 75%;
  min-width: 800px;
  max-width: 960px;
  float: left;
  display: inline-block;
  position: absolute;
  margin-bottom: 25px;
}

.user-survey {
  margin-top: 10px;

  .above-survey-line {
    font-size: 14px;
    padding-left: 2px;
    color: #9cb5ca;
    text-align: left;

    .user-survey-date {
      float: left;
      display: inline;
      margin-top: 3px;
    }

    .edit-and-delete-links {
      float: right;
      display: inline;
      margin-right: 3px;

      button {
        margin-left: 10px;
        font-size: 17px;
        color: #5D92C0;
      }
    }
  }

  .delete-link {
    float: right;
  }

  .user-survey-box {

    .user-survey-title {
      background: #C2D5E4;
      font-size: 22px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      padding: 10px;
      padding-top: 12px;
      padding-left: 12px;

      a:hover {
        color: #E8471B
      }

      .basic-survey-info {
        float:left;
        height: 100%;
      }

      .survey-controls {
        float: right;
        font-size: 15px;

        a {
          margin-right: 15px;
          color: #5D92C0;
        }

        a.edit-link {
          text-decoration: underline;
        }

        a.poll-report-link {
          cursor: pointer;
          display: inline;
          text-align: right;
          color: #E8471B;
          text-decoration: underline;
          font-size: 15px;
          line-height: 1.5;
          width: 20%;
        }

        a.url-share-link {
          text-decoration: underline;
          font-weight: bold;
          line-height: 1.6;
          margin-right: 5px;
        }
      }

      small.survey-url {
        display: inline-block;
        font-weight: normal;
        color: black;
        text-align: right;
        display:inline;
        float:right;
        background: white;
        border-radius: 2px;
        padding: 2px;
        font-size: 15px;
        line-height: 1.4;
        margin-left: 5px;
      }
    }
  }

}

.user-question {
  color: #64819a;
  padding: 7px;
  margin-bottom: 1px;
  background: #D7E4EE;
  font-size: 16px;
  padding-left: 30px;
}

div.user-question:last-child {
  padding-bottom: 8px;
}

.user-question .survey-edit-checkbox, .user-question .survey-question-text {
  float: left;
}


ul.user-question-row {
  float: right;
  font-size: 14px;
  margin-right: 20px;
}

.user-question li {
  display: inline;
  padding-left: 25px;
}

.user-question .mouseover-question-details {
  display: none;
}

.user-question:hover .mouseover-question-details {
  display: block;
  position: absolute;
  background: white;
  padding: 10px;
  padding-top: 0px;
  border-radius: 3px;
}

img.option-summary-image {
  max-height: 30px;
  width: auto;
}

ul.question-summary-list {
  font-size: 12px;
}

.question-summary-list li {
  padding-bottom: 5px;
}
